<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class= 'btn btn-success'>About Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget est mauris. Aenean egestas massa risus, vitae sagittis eros ullamcorper nec. Quisque eget turpis euismod, ultricies massa sit amet, bibendum ex. Curabitur vel quam massa.</p>
    </div>
    <div class="col-md-4">
      <h2>Latest News</h2>
      <ul class="list-group">
        <li class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li class="list-group-item">Nullam eget est mauris. Aenean egestas massa risus.</li>
        <li class="list-group-item">Quisque eget turpis euismod, ultricies massa sit amet, bibendum ex.</li>
      </ul>
    </div>
  </div>
</div>
