<div class="jumbotron">
      <div class="container">
        <h1 class="display-4 text-danger">Welcome to My Home Page!</h1>
        <p class="lead">This is a basic Bootstrap template for a home page. You can customize it to fit your needs.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a>
      </div>
    </div>